$main_red: #DD0B14;
$dark_red: #a8050c;
$gray: #626260;
* {
    font-family: 'Poppins', sans-serif;
}

.white_button {
    background-color: white;
    color: $main_red;
    border: none;
    border-radius: 0 30px 0 30px;
    padding: 5px 20px;
    transition: all .5s ease;
    width: fit-content;
    &:hover {
        background-color: $dark_red;
        color: white;
        transition: all .5s ease;
    }
}

.white_button--full {
    background-color: white;
    color: $main_red;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    transition: all .5s ease;
    font-weight: 700;
    width: fit-content;
    &:hover {
        background-color: $dark_red;
        color: white;
        transition: all .5s ease;
    }
}

.red_button {
    background-color: $main_red;
    color: white;
    border: none;
    border-radius: 0 30px 0 30px;
    padding: 5px 40px;
    transition: all .5s ease;
    width: fit-content;
    font-size: 22px;
    font-weight: 600;
    &:hover {
        background-color: white;
        color: $main_red;
        transition: all .5s ease;
    }
}

.promobar {
    background-color: $main_red;
    color: white;
    padding: 5px 0;
    .cta {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        i {
            font-size: 22px;
        }
    }
}

nav {
    background-color: $gray;
    border-radius: 0 0 100px 0;
    position: absolute!important;
    width: 100%;
    @media only screen and (max-width: 990px) {
        border-radius: 0;
        position: relative!important;
    }
    img.logo {
        width: 120px;
    }
    ul.navbar-nav {
        flex-grow: 1;
        justify-content: space-around;
        a.nav-link {
            font-size: 18px;
            font-weight: 700;
            padding: 5px;
            width: fit-content;
        }
        a.nav-link.active {
            border-bottom: 5px solid red;
        }
    }
}

.main_banner {
    background-image: url('../img/main_banner.png');
    background-size: cover;
    background-position: center;
    padding: 100px 0 50px;
    @media only screen and (max-width: 990px) {
        padding: 35px 0;
    }
    .container-fluid {
        height: 100%;
        .row {
            height: 100%;
            align-items: center;
            p.title {
                font-size: 42px;
                color: white;
                font-weight: 700;
                text-align: center;
                line-height: 52px;
                @media only screen and (max-width: 1023px) {
                    font-size: 32px;
                }
                span {
                    font-weight: 400;
                }
            }
        }
    }
}

.second_banner {
    background: url('../img/second_banner.png');
    background-size: cover;
    padding: 40px 0 60px;
    @media only screen and (max-width: 767px) {
        background-color: #a5a49e;
    }
    p.text {
        font-size: 26px;
        color: white;
        font-weight: 300;
        line-height: 34px;
    }
}

.bullet_point {
    .text {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 0;
        @media only screen and (max-width: 990px) {
            font-size: 26px;
            line-height: 34px;
        }
    }
    ul.fa-ul {
        li {
            font-size: 24px;
            @media only screen and (max-width: 990px) {
                font-size: 18px;
                line-height: auto;
            }
            i {
                color: #fed500;
            }
        }
    }
}

.search_bar {
    background-color: $main_red;
    p.text {
        font-size: 34px;
        color: white;
        font-weight: 700;
        margin: 0;
        text-align: right;
        @media only screen and (max-width: 990px) {
            font-size: 30px;
        }
        @media only screen and (max-width: 767px) {
            text-align: center;
            font-size: 26px;
            margin-bottom: 10px;
        }
    }
    form {
        width: 100%;
    }
    input {
        border: none;
        border-radius: 10px;
        padding: 5px 10px;
        width: 75%;
        @media only screen and (max-width: 990px) {
            width: 100%;
        }
    }
}

.products {
    background-color: #E3E4E3;
    position: relative;
    .title {
        font-size: 40px;
        color: #626260;
        line-height: 42px;
        text-align: center;
        span {
            font-weight: 700;
            @media only screen and (max-width: 767px) {
                display: block;
            }
        }
    }
    .subtitle {
        font-size: 22px;
        text-align: center;
        margin: 0;
    }
    .card {
        padding: 10px;
        border-radius: 15px;
        box-shadow: 4px 4px 9px 0px #0000005e;
        margin-bottom: 10px;
        img.product {
            width: 100%;
            margin: 0 auto;
            display: table;
            @media only screen and (max-width: 767px) {
                width: 50%;
            }
        }
        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10px;
            p.name {
                margin: 0;
            }
            p.price {
                font-size: 24px;
                font-weight: 700;
                margin: 0;
            }
        }
    }
    button {
        margin: 0 auto;
        display: table;
    }
    .brands--text {
        margin-top: 40px;
        p.text {
            font-weight: 100;
            text-align: center;
            margin: 0;
            font-size: 18px;
        }
        p.brands {
            font-weight: 700;
            text-align: center;
            font-size: 18px;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 0 5px;
            i {
                color: $main_red;
                font-size: 12px;
            }
        }
    }
    svg.cta {
        position: absolute;
        top: -1px;
        width: 200px;
        right: 0;
        fill: $main_red;
        path {
            fill: $main_red;
        }
    }
    a.cta {
        position: absolute;
        top: 45px;
        right: 0;
        color: white;
        transform: rotateZ(45deg);
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
    }
}

.flotilla {
    background: url('../img/half-banner--flotilla.png');
    background-size: contain;
    background-repeat: no-repeat;
    @media only screen and (max-width: 990px) {
        background: white;
    }
    .title {
        font-size: 34px;
        color: #626260;
        text-align: center;
        margin: 0;
    }
    .text {
        font-size: 22px;
        text-align: center;
        margin: 0;
    }
}

.yellow_promobar {
    background: #FFD500;
    p.notice {
        color: #3D3D3D;
        font-size: 24px;
        text-align: center;
        margin: 0;
        @media only screen and (max-width: 990px) {
            font-size: 16px;
        }
    }
}

.clients {
    background-image: url('../img/main_banner.png');
    background-size: cover;
    background-position: center;
    p.subtitle {
        font-size: 26px;
        color: white;
        text-align: center;
        margin-bottom: 20px;
    }
    .clients_slider {
        img {
            height: 180px;
            object-fit: contain;
            margin: 0 10px;
            @media only screen and (max-width: 767px) {
                height: 120px;
            }
        }
    }
    p.title {
        font-size: 26px;
        text-align: center;
        color: white;
        @media only screen and (max-width: 990px) {
            font-size: 22px;
        }
    }
    p.text {
        font-size: 20px;
        text-align: center;
        color: white;
        @media only screen and (max-width: 990px) {
            font-size: 18px;
        }
    }
    form {
        background: #ffffff9c;
        padding: 50px 15px;
        border-radius: 15px;
        input,
        textarea {
            border-radius: 15px;
        }
    }
}

footer {
    background: black;
    color: white;
    p.title {
        font-size: 20px;
        text-align: center;
    }
    p.text {
        font-size: 14px;
        margin: 0;
        text-align: center;
    }
    a {
        color: white;
        text-decoration: none;
        display: block;
        font-size: 14px;
        &:hover {
            color: white;
            text-decoration: underline;
        }
        i {
            background: white;
            color: black;
            padding: 10px;
            border-radius: 20px;
        }
    }
}